@import "tailwindcss";

@theme {
  --color-background: #f7f4ed;
  --color-primary: #2f5d50;
  --color-secondary: #a8c5b1;
  --color-text: #353535;
  --color-accent: #d9a441;
}

body {
  @apply bg-background text-text;
}
